@layer components {
  .table {

    &-last-cell-full {
      tr:last-child {
        td {
          border-bottom: 0;
        }
      }

      th, td {
        white-space: nowrap;
      }

      th:nth-child(4) {
        width: 100%;
      }
    }
  }
}