@layer components {
  .table {

    tr:last-child {
      td {
        border-bottom: 0;
      }
    }

    th,
    td {
      white-space: nowrap;
    }

    &-last-cell-full {
      th:nth-child(4) {
        width: 100%;
      }
    }

    &-first-cell-full {
      th:first-child {
        width: 100%;
      }
    }
  }
}