@layer utilities {
  @keyframes accordionOpen {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordionClose {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes slideLeft {
    from {
      transform: translateX(32px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes collapseToast {
    to {
      height: 0;
      margin-top: 0;
      opacity: 0;
    }
  }

  @keyframes swipeOut {
    from {
      transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
      transform: translateX(calc(100% + 16px));
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50px);
    }
  }

  @keyframes slideLeft {
    from {
      transform: translateX(50px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(50px);
    }
  }

  /* "..." animation for loading */
  @keyframes dotty {
    0% {
        content: '';
    }

    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }

    100% {
        content: '';
    }
  }
}
